<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ChinookConnectionString" connectionString="Data Source=NO142145;Initial Catalog=Chinook;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
      <!--add the services here-->
      <services>
        <service name="WebApplicationWithAJAX.ChinookService">
          <endpoint address="chinook"
                binding="webHttpBinding"
                contract="WebApplicationWithAJAX.IChinookService" behaviorConfiguration="JSONEdnpointBehavior"/>
        </service>
      </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
          <!--we need the endpointBehavior here-->
          <endpointBehaviors>
            <behavior name="JSONEdnpointBehavior">
              <webHttp />
            </behavior>
          </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
</configuration>
